@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap');

body {
  font-family: 'Outfit', sans-serif; /* Sans-serif es fallback */
  font-weight: 400; /* Peso normal (400) por defecto */
  background-color: hsl(30, 54%, 90%);
}

.container {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center;    /* Vertical centering */
  min-height: 100vh;      /* Full viewport height */
  margin-top: 7%;
  margin-bottom: 7%;
}

.card{
    border-radius: 10px; /* (Opcional) Bordes redondeados */
    padding: 20px; /* (Opcional) Espacio interno */
    flex: content;
    width: 100%;
    max-width: 650px; /* Maximum width on large screens */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: hsl(0, 0%, 100%);
}

.card-content{
    padding: 0.8rem 1rem 0.1rem;
}

.image-container{
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

img{
    width: 100%;
    border-radius: 10px;
}
